/* 
- Mobile: 375px
- Desktop: 1440px
*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* primary */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 1.2rem auto;
}

nav {
    /* padding: 12px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: salmon; */
}

nav .nav-logo {
    width: 50px;
}

.nav-logo img {
    width: 100%;
}

.sidenav-items {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background: var(--off-white);
    /* box-shadow: -7px 0px 20px -13px cyan; */
    overflow: hidden;
    transition: .5s;
    padding-top: 120px;
}

.nav-burger {
    cursor: pointer;
}

.sidenav-items a {
    padding: 12px 8px 12px 35px;
    text-decoration: none;
    font-size: 18px;
    color: var(--very-dark-blue);
    display: block;
    transition: background .3s;
    font-weight: 500;
}

.sidenav-items a:hover {
    background: var(--very-dark-blue);
    color: var(--off-white);
}


.sidenav-items .closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.nav-item {
    display: none;

}

.nav-item a {
    text-decoration: none;
    color: var(--very-dark-blue);
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-item a:hover {
    color: var(--soft-red);
}

/* .nav-item a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--soft-red);
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
} */


/* news container */
.news-container {
    margin-top: 1.5rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 'main-news' 'side-news' 'trend-news';
}

.main-news {
    grid-area: main-news;

}

.img-main-news {
    background-image: url('./assets/images/image-web-3-mobile.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 280px;
    transition: .3s;
}


.main-news h1 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
    transition: .3s;
    line-height: 3rem;

}

.main-news p {
    margin-top: .5rem;
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
    font-size: 0.938rem;
    font-weight: 500;
    transition: .3s;
}

.main-news a {
    margin-top: 1rem;
    display: inline-block;
    background: var(--soft-red);
    color: var(--off-white);
    text-decoration: none;
    padding: 16px 30px;
    letter-spacing: 5px;
    font-size: .75rem;
    font-weight: 700;
    transition: .3s;
}

.main-news a:hover {
    background: var(--very-dark-blue);
}


.side-news {
    grid-area: side-news;
    margin-top: 2.5rem;
    background: var(--very-dark-blue);
    color: var(--grayish-blue);
    padding: 1.5rem 1.1rem;
    transition: .3s;
}

.side-news h1 {
    color: var(--soft-orange);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.side-news-content a {
    display: block;
    text-decoration: none;
    color: var(--off-white);
    font-size: .875rem;
    transition: color .3s;
}

.side-news-content a:hover {
    color: var(--soft-orange);
}

.side-news-content p {
    font-size: 1rem;
    margin-top: .5rem;
    line-height: 1.5rem;
    text-align: justify;
    color: var(--grayish-blue);
}

.side-news-content hr {
    margin: 1.7rem 0;
    border-width: .5px;
    border-color: var(--dark-grayish-blue);
}

.side-news div:last-child hr {
    display: none;
}


.trend-news {
    grid-area: trend-news;
    margin-top: 2.5rem;
    transition: .3s;
}

.trend-card {
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.trend-card img {
    width: 100px;
}

.trend-card__contents h1 {
    color: var(--grayish-blue);
    font-size: 1.8rem;
}

.trend-card__contents .card-title {
    display: block;
    margin-top: .5rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--very-dark-blue);
    letter-spacing: -1px;
    font-weight: 900;
    transition: color .3s;
}

.trend-card__contents a:hover {
    color: var(--soft-red);
}

.trend-card__contents p {
    margin-top: .5rem;
    line-height: 1.5rem;
    color: var(--dark-grayish-blue);
    font-weight: 500;
}

/* news container end*/

@media (max-width: 20rem) {
    .trend-card {
        align-items: start;
        max-height: 150px;
        overflow: hidden;
    }

    .trend-card__contents h1 {
        font-size: 1rem;
    }

    .trend-card__contents .card-title {
        margin-top: .2rem;
        ;
        font-size: 1.2rem;
    }

    .trend-card__contents p {
        font-size: .875rem;
        text-align: left;
    }


    .trend-card img {
        width: 100px;
        height: 150px;
    }
}



@media (min-width: 30rem) {
    .nav-burger {
        display: none;
    }

    .nav-item {
        display: flex;
        gap: 1.7rem
    }

}

@media (min-width: 50rem) {
    .news-container {
        grid-template-columns: 70% 29%;
        grid-template-areas: 'main-news side-news' 'trend-news trend-news';
        gap: 1.5rem;
        justify-content: center;
    }

    .container {
        width: 80%;
        margin-top: 2rem;
    }

    .img-main-news {
        background-image: url('./assets/images/image-web-3-desktop.jpg');
        height: 250px;
    }


    .side-news {
        margin-top: 0;
        padding: 2rem 2rem 1rem 2rem;
    }

    .side-news h1 {
        font-size: 2rem;
    }

    .side-news-content a {
        font-size: .75rem;
    }

    .side-news-content p {
        font-size: .875rem;
        text-align: left;
    }

    .trend-news {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .main-news__contents {
        margin-top: 1rem;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .main-news__contents h1 {
        font-size: 3.7rem;
        width: 50%;
        line-height: 3.8rem;
    }

    .content-paragraf {
        margin-top: 1rem;
        width: 50%;
    }

    .content-paragraf p {
        font-size: 1rem;
        text-align: justify;
    }

    .content-paragraf a {
        margin-top: 1.5rem;
    }

}